body{
    padding: 0;
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}
.btn{
    background-image: -webkit-linear-gradient(orange, rgb(255, 0, 64));
    border-radius: 1rem;
    color: white;
    padding: 8px;
    margin-left: 50px;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(255, 0, 64);

}
.langue{
    height: 20px;
}
.nav a{
   text-decoration: none;
   color: darkgray;
   padding: 10px 22px;
   margin-left: 5px;
}
p{
    padding: 10px;
    margin: 70px;
    color: darkgray;
    
}
h5{
    padding: 10px;
    margin:70px  ;
    font-size: 90px;
    margin-left: 30px;
}
.image{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 90px;
    height: 10rem;
    
}
.correct{
    justify-content:space-between ;
    
}
button{
    border-radius: 1rem;
    margin-left: 9rem;
    padding: 12px;
    background-image: -webkit-linear-gradient(orange, red) ;
}
button:hover{
    background-color: rgb(255, 0, 64);
    cursor: pointer;
}
.img{
    width: 30rem;
}